/* VARIABLES CSS */
:root{
    --color1: #1b268b;
    --color2: #f4f4f4;
    --color3: #aa2222;
    --h1fontsizeS: 1.3rem;
    --h1fontsizeM: 2rem;
    --h2fontsizeS: 1.1rem;
    --h2fontsizeM: 1.7rem;
    --pfontsizeS: 1rem;
    --pfontsizeM: 1.2rem;
    --detailfontsizeS: 0.8rem;
    --detailfontsizeM: 1.1rem;
}

/* Extra small devices (phones, 720px and down) */
body{
    margin: 0;
    line-height: 1.5rem;
}

iframe{
    border:none;
    box-shadow: 0px 4px 8px 8px rgba(0, 0, 0, 0.15);
    padding-top: 20px;
    padding-bottom: 5px;
    width: 100%;
    height: 375px;
}

.iframeTitle{
    color: var(--color3);
}

h1{  
    font-size: var(--h1fontsizeS);
}

h2, h3{
    text-align: center;
    font-size: var(--h2fontsizeS);
    margin-top: 0;
}

#cover{
    background: url(img/cover_overlay.png) no-repeat center/100% 100%,url(img/cover2_red.jpg) no-repeat center/cover;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-between;
    align-items: center;
    color: white;
}

#cover #contact_infos{
    padding: 0 0 0 10px;
    margin: 15px 0 0 10px;
    align-self: flex-start;
    border-left: var(--color1) solid 4px;
}

#cover #contact_infos a{
    font-size: var(--detailfontsizeS);
    display: block;
    color: white;
}

#cover #contact_infos a:first-child{
    padding-bottom: 5px;
}

#cover img{
    margin: 0;
    max-width: 100px;
    height: auto;
}

#cover h1{
    margin: 10px 0 0 0;
}

#cover p{
    margin: 5px 0 0 0;
    font-size: var(--pfontsizeS);
}

.contact-button{
    padding: 5px 10px 5px 10px;
    margin: 20px 0 20px 0;
    font-size: var(--detailfontsizeS);
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color1);
    background-color: #ffffff4f;
    border: var(--color1) solid 3px;
}

.contact-button:hover{
    background-color: #ffffff88;
}

.contact-button:active{
    background-color: #ffffffbb;
}

.bold{
    font-weight: bold;
}


.vPaddingSections{
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 30px;
}

.vPaddingSections h2{
    color: var(--color3)
}

.vPaddingSections:last-of-type{
    padding-bottom: 50px;
    padding-top: 50px;
}

.sectiongrise1{
    background: url(img/triangle2white.svg) no-repeat center bottom -1px/100%;
    background-color: var(--color2);
    padding-bottom: 40px;
}


.sectiongrise1 hr{
    width: 150px;
    border-color: #979797;
}

.sectiongrise1 p{
    text-align: center;
    font-size: 1.1rem;
    max-width:325px;
    margin: 30px auto 20px auto;
}

.sectiongrise2{
    background: url(img/triangle1white.svg) no-repeat center top/100%;
    background-color: var(--color2);
    padding-top: 40px;
}

.flex-container{
    display: flex;
    flex-direction: column-reverse;
}

#descriptif{
    padding-bottom: 25px;
}

#descriptif p{
    font-size: var(--pfontsizeS);
}

.ligne-verticale{
    padding-left: 10px;
    border-left: var(--color1) solid 4px;
    height: 35px;
    display: inline-block;
}

.ligne-verticale p:first-child{
    margin-top: -3px;
}


.flex-container img, .frame img{
    width:100%;
    height: auto;
}

.portfolio-item{
    text-align: center;
    margin-bottom: 20px;
    font-size: var(--pfontsizeS);
}

.portfolio-item a:last-child{
    display: block;
    width: fit-content;
    margin: auto;
}
#frame{
    display: flex;
    flex-direction: column;
    align-items: center;  
    text-align: center;
}

#frame div:nth-child(1){
    flex: 1 1 0;
}

#frame div:nth-child(2){
    flex: 2 1 0;
    padding-left: 20px;
    padding-right: 20px;
    font-size: var(--pfontsizeS);
}

#frame img{
    margin: 0;
    max-width: 80px;
    height: auto;
}

#frame a {
    color:var(--color1)
}

/* PORTFOLIO */

#header{
    background: url(img/cover2_red.jpg) no-repeat center/cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 0 20px 0 20px;
}

#header p{
    margin: 0;
    padding-left: 10px;
    align-self: center;
    font-size: var(--pfontsizeS);
    border-left: 4px solid var(--color1);
}

#portfolio-titre{
    display: flex;
    flex-direction: row;
}

#portfolio-titre div:first-child{
    flex-grow: 1;
}

#portfolio-titre div:last-child{
    flex-grow:20;
}

#portfolio-titre h1{
    text-align: center;
}

#portfolio-titre h2{
    font-weight: normal;
}

#portfolio-titre a{
    color: var(--color1);
}

.hidden{
    display: none;
}

.underline{
    text-decoration: underline;
}

.bold{
    font-weight: bold;
}

#projet-description{
    font-size: var(--pfontsizeS);
}

#projet-img{
    text-align: center;
    padding: 20px 20px 0 20px;
    font-size: var(--pfontsizeS);
}

#projet-img img{
   width: 100%;
   height: auto;
}
#projet-img a:last-child{
    display: block;
    width: fit-content;
    margin: auto;
    padding-top: 8px;
    color:var(--color1)
}

/* Small devices (portrait tablets and large phones, 720px and up) */
@media only screen and (min-width: 720px) {
    iframe{
        height: 300px;
    }

    h1{
        font-size: var(--h1fontsizeM);
    }

     h2, h3{
        font-size: var(--h2fontsizeM);
    }

    #cover{
        padding-bottom: 25px;
    }

    #cover #contact_infos a{
        font-size: var(--detailfontsizeM);
    }

    #cover #contact_infos a:first-child{
        padding-bottom: 10px;
    }

    #cover img{
        max-width: 150px;
        height: auto;
    }
    
    #cover h1{
        margin: 15px 0 0 0;
    }
    
    #cover p{
        margin: 7px 0 0 0;
        font-size: var(--pfontsizeM);
    }  

    
    .contact-button{
        padding: 10px 20px 10px 20px;
        margin-top: 25px;
        margin-bottom: 25px;
        font-size: var(--detailfontsizeM);
    }

    .vPaddingSections{
        padding-right: 60px;
        padding-left: 60px;
    }  


    .sectiongrise1{
        padding-bottom: 100px;
    }

    .sectiongrise1 hr{
        width: 200px;
    }

    .sectiongrise1 p{
        font-size: 1.4rem;
        max-width:425px;
    }

    .sectiongrise2{
        padding-top: 160px;   
    }

    .flex-container{
        flex-direction: row; 
        flex-wrap: wrap;
    }

    #imgProfil2{
        flex: 1 1 0;
    }
    
    #descriptif{
        flex: 3 1 0;
        padding-bottom: 0;
        padding-left: 25px;
    }

    #descriptif p,#descriptif a{
        font-size: var(--pfontsizeM);
    }

    .ligne-verticale{
        height: 20px;
    }

    .portfolio-item{
        width: 40%;
        margin-left: 5%;
        margin-right: 5%;
        font-size: var(--pfontsizeM);
    }

    .portfolio-item img{
        width: 100%;
    }

    #frame{
        flex-direction: row;
        width: 75%;
        margin: auto;
    }

    #frame img{
        max-width: 125px;
    }

    #frame div:nth-child(2){
        text-align: left;
        padding-right: 50px;
        font-size: var(--pfontsizeM);
    }

    
    /* PORTFOLIO */

    #header p{
        font-size: var(--pfontsizeM);
    }

    .hidden{
        display: inline-block;
        text-decoration: inherit;
    }

    #projet-description{
        font-size: var(--pfontsizeM);
    }

    #projet-img{
        font-size: var(--pfontsizeM);
    }
    
    #projet-img img{
        width: 75%;
    }
    

}

/* Large devices (laptops/desktops, 1024px and up) */
@media only screen and (min-width: 1024px) {
    iframe{
        height: 275px;
    }

    .vPaddingSections{
        padding-right: 200px;
        padding-left: 200px;
    }  

    .portfolio-item img{
        width: 80%;
    }


    /* PORTFOLIO */
    #projet-img img{
        width: 50%;
    }

}